<section *ngIf="!(isLoading$ | async); else loading">
  <form
    (ngSubmit)="submit()" [formGroup]="form"
    fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="standard">
      <mat-label>E-mail</mat-label>
      <input
        formControlName="email" matInput name="email"
        placeholder="Your email" type="email">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input
        formControlName="password" matInput name="password"
        placeholder="Your password" type="password">
    </mat-form-field>

    <button
      [disabled]="form.invalid" class="button-submit" color="primary"
      mat-raised-button type="submit">Submit
    </button>
  </form>
</section>

<ng-template #loading>
  <div class="mt-30" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
