<section *ngIf="!isLoading; else loading">
  <form
    fxLayout="column" fxLayoutAlign="center center"
    (ngSubmit)="submit()" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>E-mail</mat-label>
      <input
        matInput type="email" placeholder="Your email"
        formControlName="email" name="email">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input
        matInput type="password" placeholder="Your password"
        formControlName="password" name="password">
    </mat-form-field>

    <button
      mat-raised-button [disabled]="form.invalid" type="submit"
      color="primary" class="button-submit">Submit
    </button>
  </form>
</section>

<ng-template #loading>
  <div fxLayoutAlign="center" class="mt-30">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
