mat-form-field {
  width: 300px;
}

.button-submit {
  margin-top: 16px;
}

/*
form {
  display: flex;
  flex-direction: column;     -> fxLayout
  justify-content: flex-end;  -> fxLayoutAlign 1o valor. Alinhado de acordo com main-axis ( flex-direction)
  align-items: center;        -> fxLayoutAlign 2o valor
}
*/
