<mat-nav-list>
  <a (click)="itemClicked.emit()" *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/login">
    <mat-icon>login</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a (click)="itemClicked.emit()" *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/signup">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a (click)="itemClicked.emit()" *ngIf="isAuth$ | async" mat-list-item routerLink="/training">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item (click)="onLogoutClick()" *ngIf="isAuth$ | async">
    <mat-icon>logout</mat-icon>
    <span class="nav-caption">Logout</span>
  </mat-list-item>
</mat-nav-list>
