<div fxLayoutAlign="center center" fxLayoutAlign.xs="flex-start center"
     ngStyle.xs="margin-left: 16px;">
  <mat-form-field fxFlex="40%">
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. crunches">
  </mat-form-field>
</div>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
    <td *matCellDef="let element" mat-cell>{{element.date?.toDate() | date:'shortDate'}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
    <td *matCellDef="let element" mat-cell>{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="calories">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Calories</th>
    <td *matCellDef="let element" mat-cell>{{element.calories | number}}</td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Duration</th>
    <td *matCellDef="let element" mat-cell>{{element.duration | number}}</td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>State</th>
    <td *matCellDef="let element" mat-cell>
      <mat-icon>{{element.state === 'cancelled' ? 'close' : 'done'}}</mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
