<section *ngIf="!(isLoading$|async); else loading" class="new-training" fxLayout
         fxLayoutAlign="center">
  <mat-card fxFlex="100%" fxFlex.gt-xs="400px">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Time to start a new training!</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Choose a exercise</mat-label>
        <mat-select #option="ngModel" ngModel required>
          <mat-option *ngFor="let type of training$ | async" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="center">
      <button
        (click)="startTraining(option.value)" *ngIf="training$ | async" [disabled]="option.invalid"
        color="primary"
        mat-raised-button type="submit">
        Start!
      </button>
      <button
        (click)="fetchExercises()" *ngIf="!(training$ | async)" color="primary"
        mat-raised-button type="submit">
        Fetch Again!
      </button>
    </mat-card-actions>
  </mat-card>
</section>

<ng-template #loading>
  <div class="mt-30" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
