<div class="welcome" fxLayoutAlign="center center" fxLayout="column"
     fxLayout.gt-md="row" fxLayoutGap.gt-md="24px" [ngStyle.xs]="{margin: '0 24px'}">
  <section>
    <h1>{{'WELCOME.ACTIVITY' | translate}}</h1>
    <p>{{'WELCOME.MSG-ACTIVITY' | translate}}</p>
  </section>
  <section>
    <h1>{{'WELCOME.COMMUNITY' | translate}}</h1>
    <p>{{'WELCOME.MSG-COMMUNITY' | translate}}</p>
  </section>
  <section>
    <h1>{{'WELCOME.CHALLENGES' | translate}}</h1>
    <p>{{'WELCOME.MSG-CHALLENGES' | translate}}</p>
  </section>
</div>
