<div [ngStyle.xs]="{margin: '0 24px'}" class="welcome" fxLayout="column"
     fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap.gt-md="24px">
  <section>
    <h1>{{'WELCOME.ACTIVITY' | translate}}</h1>
    <p>{{'WELCOME.MSG-ACTIVITY' | translate}}</p>
  </section>
  <section>
    <h1>{{'WELCOME.COMMUNITY' | translate}}</h1>
    <p>{{'WELCOME.MSG-COMMUNITY' | translate}}</p>
  </section>
  <section>
    <h1>{{'WELCOME.CHALLENGES' | translate}}</h1>
    <p>{{'WELCOME.MSG-CHALLENGES' | translate}}</p>
  </section>
</div>
