<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="toggleSidenav.emit()" aria-label="menu icon" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div>
    <a routerLink="/">NG Training Master</a>
  </div>

  <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
    <ul class="nav-items" fxLayout fxLayoutGap="16px">
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a (click)="authService.logout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
