@import "~@angular/material/theming";

@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-base-typography($custom-typography);

$omni-primary: mat-palette($mat-gray, 500);
$omni-accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-dark-theme((
  color: (
    primary: $omni-primary,
    accent: $omni-accent
  )
));
@include angular-material-theme($theme);

$toolbar-palette: mat-palette($mat-blue-gray, 800);
$toolbar-theme: mat-dark-theme((
  color: (
    primary: $toolbar-palette,
    accent: $omni-accent
  )
));
@include mat-toolbar-color($toolbar-theme)
